streamlit>=1.45.0

langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface

faiss-cpu

sentence-transformers

pypdf

openpyxl

pandas

python-dotenv

edge-tts
streamlit-mic-recorder
groq
